# nixpacks.toml

[phases.setup]
# CHANGED 'libglu' -> 'libGLU' (Case sensitive!)
nixPkgs = ["python311", "libglvnd", "glib", "gcc", "gnumake", "mesa", "libGLU", "opencv"]

[phases.install]
cmds = [
  "python -m venv /opt/venv",
  ". /opt/venv/bin/activate",
  "pip install --upgrade pip",
  "pip install -r requirements.txt"
]

[start]
cmd = ". /opt/venv/bin/activate && gunicorn --workers=1 --threads=4 --timeout 120 --bind 0.0.0.0:$PORT app:app"