# -------------------------
# Core
# -------------------------
numpy==1.26.4
pandas==2.1.4
python-dateutil==2.9.0.post0

# -------------------------
# Flask
# -------------------------
Flask==2.3.3
Werkzeug==3.0.4
Flask-Login==0.6.3
Flask-WTF==1.2.1
Flask-Limiter==4.1.1
Flask-Talisman==1.1.0
itsdangerous==2.2.0
email-validator==2.1.1
gunicorn==21.2.0
python-dotenv==1.2.1

# -------------------------
# Database
# -------------------------
SQLAlchemy==2.0.29
flask_sqlalchemy==3.1.1

# -------------------------
# Image / ML
# -------------------------
Pillow==10.4.0
opencv-python-headless==4.11.0.86
mediapipe==0.10.32
onnxruntime==1.16.3
rembg==2.0.55   # 🔥 IMPORTANT downgrade

# -------------------------
# PDF / QR / Excel
# -------------------------
PyMuPDF==1.26.4
reportlab==4.4.6
qrcode==7.4.2
openpyxl==3.1.2

# -------------------------
# Text shaping
# -------------------------
arabic-reshaper==3.0.0
python-bidi==0.4.2

# -------------------------
# Security
# -------------------------
cryptography==43.0.1

cloudinary>=1.39.0
